<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form method="POST" class="hoge">
	  <input
	    type="hidden"
	    th:name="${_csrf.parameterName}"
	    th:value="${_csrf.token}">
	<span th:text="${errorMsg}"></span>
	</form>
		<h2>ログイン画面</h2>
	<form th:action＝"@{/loginpage}" method="post" th:object="${loginForm}" >
		<div>
			<label>メールアドレス</label>
			<input type="text" th:field="*{email}">
		</div>
		<div>
			<label>パスワード</label>
			<input type="password" th:field="*{password}">
		</div>
		<div>
			<input type="submit" value="ログイン">
		</div>
	</form>
</body>
</html>