<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>ログイン画面</h2>
	<input type="hidden" name="_csrf" value="{{ csrfToken }}">
	<form th:action="@{/admin/signin}" method="post" th:object="${signinForm}">

		<!-- エラーメッセージの表示 -->
		<span th:if="${errorMsg != null}" th:text="${errorMsg}"></span>

		<div>
		    <label>メールアドレス</label>
		    <input type="text" th:value="*{email}" th:field="*{email}" placeholder="メールアドレス" required="required">
		    <span th:if="${errorMsg != null}" th:text="${errorMsg}"></span>
		</div>
		<div>
		    <label for="password">パスワード</label>
		    <input type="password" th:value="*{password}" th:field="*{password}" id="password" placeholder="パスワード" required="required">
		</div>
		<div>
			<input type="submit" value="ログイン">
		</div>
	</form>
	<a href="/admin/signin" class="btn btn-secondary">ログアウト</a>
</body>
</html>